:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --light-cyan: hsl(179, 47%, 52%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--light-gray);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 380px);
  grid-template-rows: 270px 300px;
  grid-template-areas:
    "join join"
    "sub reasons";
  border-radius: 15px;
  overflow: hidden;
}

.join-community {
  grid-area: join;
  background-color: white;
  padding: 30px 50px;
}

.join-community h1 {
  color: var(--cyan);
  margin: 15px 0;
  font-weight: 700;
}

.join-community h2 {
  color: var(--bright-yellow);
  font-size: 24px;
}

.join-community p {
  color: var(--grayish-blue);
  margin: 20px 0;
  line-height: 1.5rem;
}

.subscription {
  padding: 30px 50px;
  background-color: var(--cyan);
  color: white;
}

.subscription h3 {
  font-size: 24px;
  margin: 15px 0;
}

.subscription p:first-of-type {
  display: flex;
  align-items: center;
  color: var(--light-gray);
  margin: 15px 0;
}

.subscription span {
  font-size: 36px;
  color: white;
  margin-right: 30px;
}

.subscription p:nth-of-type(2) {
  margin: 15px 0;
}

.subscription p:last-of-type {
  margin-top: 40px;
}

.subscription a {
  background-color: var(--bright-yellow);
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: 700;
  padding: 15px 0;
  border-radius: 5px;
  box-shadow: 0 10px 6px -6px #777;
}

.reasons {
  padding: 30px 50px;
  background-color: var(--light-cyan);
}

.reasons h3 {
  color: white;
  font-size: 24px;
  margin: 15px 0;
}

.reasons p {
  color: var(--light-gray);
  line-height: 1.5rem;
}


@media screen and (max-width: 640px){
    body {
        margin: 120px 0;
    }
    .grid-container{
        grid-template-columns: 380px;
        grid-template-rows: 350px repeat(2, 300px);
        grid-template-areas: "join"
        "sub"
        "reasons";
    }
}